<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Movies</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<!-- Header Section -->
<header class="bg-white py-10 shadow-md">
    <div class="container mx-auto flex items-center justify-between">
        <h1 class="text-xl font-bold">{{ h1 }}</h1>
        <div class="relative">
            <input type="text" placeholder="Rechercher un film..." class="border border-gray-300 rounded px-4 py-2">
            <button class="absolute right-2 top-2 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l5 5m-5-5a7 7 0 1114 0 7 7 0 01-14 0z" />
                </svg>
            </button>
        </div>
    </div>
</header>

<!-- Main Content -->
<main class="container mx-auto mt-8">
    <!-- Video Section -->
    <section class="flex justify-center">
        <div class="relative w-full max-w-4xl">
            <iframe width="1133" height="500" src="https://www.youtube.com/embed/{{ topRatedMovieTeaser.key }}?rel=0&autoplay=0&controls=1"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen class="w-full rounded-lg shadow-md">
            </iframe>
            <div class="absolute bottom-0 left-0 bg-black bg-opacity-50 text-white p-4 rounded-b-lg">
                <h2 class="text-lg font-semibold">{{ topRatedMovie.title }}</h2>
                <p{{ topRatedMovieTeaser.name }}></p>
            </div>
        </div>
    </section>

    <!-- Filter and Movie List -->
    <div class="flex mt-10">
        <!-- Filter Section -->
        <aside class="w-1/4 p-4 bg-white shadow-md rounded-lg">
            <h3 class="font-semibold text-lg">Genres</h3>
            <ul class="mt-4 space-y-2">
                {% set selected_genre = genre|default(null) %}
                {% for genre in genres %}
                    <li><label><input type="checkbox" class="mr-2">{{ genre.name }}</label></li>
                {% endfor %}
            </ul>
        </aside>

        <!-- Movies List Section -->
        <section class="w-3/4 ml-6">
            <!-- Movie-->
            {% for movie in movies %}
                {% macro truncateText(text, maxLength) %}
                    {% if text|length > maxLength %}
                        {% set truncatedTextArray = text|split(' ')|slice(0, maxLength) %}
                        {{ truncatedTextArray|join(' ') }}...
                    {% else %}
                        {{ text }}
                    {% endif %}
                {% endmacro %}
                {% import _self as macros %}
                {% set source = 'https://image.tmdb.org/t/p/w342' ~ ((movie.posterPath is defined and movie.posterPath is not null) ? movie.posterPath : '/bvYjhsbxOBwpm8xLE5BhdA3a8CZ.jpg') %}

            <div class="bg-white p-4 rounded-lg shadow-md mb-6 flex">
                <img src="{{ source }}" alt="Vaiana" class="w-20 h-32 object-cover rounded">
                <div class="flex flex-col justify-between ml-4 w-full">
                    <div>
                        <div class="flex mt-2">
                            <h3 class="font-semibold text-xl">{{ movie.title }}</h3>
                            <div class="pl-5 flex items-center">
                                <span class="text-blue-400">★★★★☆</span>
                                <span class="ml-2 text-sm text-gray-500"> {{ movie.voteAverage }} ({{ movie.voteCount }})</span>
                            </div>
                        </div>
                        <div class="text-gray-500 text-sm">{{ movie.releaseDate|date('Y') }} - Disney, Pixar</div>
                        <p class="text-sm text-gray-700 mt-2">{{ macros.truncateText(movie.overview, 30) }}</p>
                    </div>
                    <div class="flex justify-end">
                        <button class="bg-blue-500 text-white px-4 py-2 rounded rounded-full">Lire le détail</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</main>
</body>
</html>