<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Movies</title>

    <!-- Stylesheets -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

</head>
<body class="bg-gray-100">
<!-- Header Section -->
<header class="bg-white py-10 shadow-md">
    <div class="container mx-auto flex items-center justify-between">
        <h1 class="text-xl font-bold">{{ h1 }}</h1>
        <div class="relative">
            <form action="{{ path('app_search') }}" class="relative">
                <label for="movieSearch"></label><input type="text" id="movieSearch" required placeholder="Search a movie..." class="border border-gray-300 rounded px-4 py-2 w-full" name="q" autocomplete="off">
                <ul id="autocompleteResults" class=" autocomplete-suggestions absolute z-10 bg-white border border-gray-300 rounded mt-1 w-full hidden">
                    <!-- Suggestions will appear here -->
                </ul>
                <button class="absolute right-3 top-2 text-gray-600">
                    <img src="{{ asset('images/magnifying-glass.svg') }}" alt="magnifying glass" class="w-6 h-6">
                </button>
            </form>
        </div>
    </div>
</header>

<!-- Main Content -->
<main class="container mx-auto mt-8">
    <!-- Video Section -->
    {% set topRatedMovieTeaser = topRatedMovieTeaser|default(null) %}
    {% set topRatedMovie = topRatedMovie|default(null) %}

    {% if topRatedMovieTeaser and topRatedMovie %}
    <section class="flex justify-center">
        <div class="relative w-full max-w-4xl">
            <iframe width="1133" height="500" src="https://www.youtube.com/embed/{{ topRatedMovieTeaser.key }}?rel=0&autoplay=0&controls=1"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen class="w-full rounded-lg shadow-md">
            </iframe>
            <div class="absolute bottom-0 left-0 bg-black bg-opacity-50 text-white p-4 rounded-b-lg">
                <h2 class="text-lg font-semibold">{{ topRatedMovie.title }}</h2>
                <p{{ topRatedMovieTeaser.name }}></p>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Filter and Movie List -->
    <div class="flex mt-10">
        <!-- Filter Section -->
        <aside class="w-1/4 p-4 bg-white shadow-md rounded-lg">
            <h3 class="font-semibold text-lg">Genres</h3>
            <ul class="mt-4 space-y-2">
                {% set selected_genre = genre|default(null) %}
                {% for genre in genres %}
                    <li>
                        <label>
                            <input type="checkbox" value="{{ genre.id }}" {% if selected_genre is not null and selected_genre.id == genre.id %}checked{% endif%} class="mr-2 cd_gender">{{ genre.name }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </aside>

        <!-- Movies List Section -->
        <section class="w-3/4 ml-6">
            <!-- Movie-->
            {% for movie in movies %}
                {% macro truncateText(text, maxLength) %}
                    {% if text|length > maxLength %}
                        {% set truncatedTextArray = text|split(' ')|slice(0, maxLength) %}
                        {{ truncatedTextArray|join(' ') }}...
                    {% else %}
                        {{ text }}
                    {% endif %}
                {% endmacro %}

                {% macro videoRate(rate) %}
                    {% set videoRate = rate // 2 %} {# Utilisation de la division entière pour s'assurer que le résultat est un entier #}
                    {% set stars = ['☆☆☆☆☆', '★☆☆☆☆', '★★☆☆☆', '★★★☆☆', '★★★★☆', '★★★★★'] %}
                    {{ stars[videoRate] ?? stars[0] }} {# Utilisation d'un tableau pour mapper les valeurs de videoRate aux étoiles #}
                {% endmacro %}

                {% macro totalVote(total) %}
                    {{ '(' ~ total ~ (total > 1 ? ' votes' : ' vote') ~ ')' }}
                {% endmacro %}

                {% import _self as macros %}
                {% set source = 'https://image.tmdb.org/t/p/w342' ~ ((movie.posterPath is defined and movie.posterPath is not null) ? movie.posterPath : '/bvYjhsbxOBwpm8xLE5BhdA3a8CZ.jpg') %}

            <div class="bg-white p-4 rounded-lg shadow-md mb-6 flex">
                <img src="{{ source }}" alt="Vaiana" class="w-20 h-32 object-cover rounded">
                <div class="flex flex-col justify-between ml-4 w-full">
                    <div>
                        <div class="flex mt-2">
                            <h3 class="font-semibold text-xl">{{ movie.title }}</h3>
                            <div class="pl-5 flex items-center">
                                <span class="text-blue-400">{{ macros.videoRate(movie.voteAverage) }}</span>
                                <span class="ml-2 text-sm text-gray-500">{{ macros.totalVote(movie.voteCount) }}</span>
                            </div>
                        </div>
                        <div class="text-gray-500 text-sm">{{ movie.releaseDate|date('Y') }}</div>
                        <p class="text-sm text-gray-700 mt-2">{{ macros.truncateText(movie.overview, 30) }}</p>
                    </div>
                    <div class="flex justify-end">
                        <button class="detail-button bg-blue-500 text-white px-4 py-2 rounded-full" data-movie-id="{{ movie.id }}">Lire le détail</button>
                    </div>
                </div>
            </div>
            {% else %}
                {% if topRatedMovie is null %}
                <div class="bg-yellow-200 p-4 rounded-lg shadow-md mb-6 flex text-gray-700">Sorry, no movie seems to be found for your search!</div>
                {% endif %}
            {% endfor %}
        </section>
    </div>

    <!-- Modal Structure (Hidden by default) -->
    <div id="movieModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white w-3/4 max-w-2xl p-6 rounded-lg shadow-lg relative">
            <button id="closeModal" class="absolute top-4 right-4 text-gray-600 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto hover:text-black rounded rounded-full border border-2 border-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">
                &times;
            </button>
            <div id="modalContent" class="flex py-10 flex-col items-center">
                <!-- YouTube Video -->
                <iframe id="movieTrailer" class="w-full h-64 mb-4" src=""
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen class="w-full rounded-lg shadow-md">
                </iframe>
                <!-- Movie Title -->
                <h3 id="movieTitle" class="text-xl font-semibold mb-2"></h3>

                <!-- Movie Rating -->
                <div id="movieRating" class="flex items-center mb-4">
                    <span class="ml-2 text-yellow-500 text-xl" id="ratingValue"></span>
                    <span class="ml-2 text-gray-500 text-sm" id="ratingCount"></span>
                </div>

                <!-- Movie Description -->
                <p id="movieDescription" class="text-gray-700"></p>
            </div>
        </div>
    </div>
</main>
</body>
{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
</html>